html, body {
    height: 100%; /* Para asegurarnos que el body ocupe toda la pantalla */
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Hace que el contenedor ocupe toda la altura de la ventana */
    background: radial-gradient(circle, #014d9460, #ffffff);
  }
  
  .header {
    text-align: center;
    /* Estilos específicos para Header */
  }
  
  .body {
    flex-grow: 1; /* Hace que el Body ocupe todo el espacio restante */
    justify-content: center;
    align-items: center; /* Centra el contenido dentro del Body */
  }
  
  .footer {
    text-align: center;
    /* Estilos específicos para Footer */
  }